# Default ignored files
/../../ServiceSuspensionWeb /.idea/shelf/
/../../ServiceSuspensionWeb /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ServiceSuspensionWeb /.idea/httpRequests/
